<nav class="nav-link">
    <div class="title">HTML POWER</div>
    <div class="link">
        <a [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">HOME</a>
    </div>
    <div class="link">
        <a [routerLink]="'/note'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">NOTES</a>
    </div>
    <div class="link">
        <a [routerLink]="'/about'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">ABOBA</a>
    </div>
</nav>